*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
.row{
margin-left: -8px;
margin-right: -8px;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
.text-white{
    color: #fff !important;
}
.text-center{
    text-align: center !important;
}
html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
scroll-behavior:smooth ;

}
#main{

}

#header{
position: fixed;
top: 0px;
left: 0px;
right: 0px;
height: 46px;
background-color: #000;

}
#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;

}

#nav > li {
    display: inline-block;
}

#nav li{
    
    position:relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}
#nav > li:hover > a,#nav .subnav li:hover{
    color: #000;
    background-color:#ccc;
}

#nav .subnav {
 display: none;
 position: absolute;
 background-color: #fff;
 box-shadow: 0 0 10px rgba(0,0, 0, 0.3);
}
#nav .subnav a{
    color: #000;
    padding: 0 16px;
}
#header .search-btn{
float: right;
padding: 0 21px;
cursor: pointer;
}
#header .search-btn:hover{
    background-color: #f44336;
}

#header .search-btn{
    color:#fff;
    font-size: 22px;
    line-height: 46px;
    

}
#slider{

    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/slider/slider1.jpg) top center / cover no-repeat;


}

#slider .text-contenct{
    position: absolute;
    bottom: 47px;
    color: #fff;
    left : 50%;
    transform: translateX(-50%);
    text-align: center;
    

}
#slider.text-heading{
    font-weight: 600;
    font-size: 15px;

}
#slider .text-dicription{
    font-size: 15px;
    margin-top: 25px;

}

#contenct
{padding-bottom: 80px;

}
#contenct .contenct-seasion{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 80px ;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
#contenct .heading-seasion{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}

#contenct .sub-heading-seasion{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#contenct .about-text{
    margin-top: 25px;
    font-size: 15px;
    
    text-align: justify;
    line-height: 1.6;
}

#contenct .member-list{
    margin-top: 48px;
    overflow: hidden;
}
#contenct .member-name{
    font-size : 15px ;

 
}
#contenct .member-avatar{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
#contenct .member-item{
    float: left;
    width: calc(100%/3);
    text-align: center;


}
#contenct .tour-seasion
{
    background-color: #000;
   
}
.text-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;

}

.text-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
.text-list .soldout{
    color: #fff;
    background-color: #f44336;
    padding: 2px 3px;
    margin-left: 16px;
}
.text-list .qatili{
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #fff;
    background-color: #000;
    line-height: 24px;
    text-align: center;
    margin-top: -3px;
}

/* place */
.place-tick{
    margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 0;
    padding-bottom: 80px;

}
.place-item{
    float: left;
    width: 33.33333%;
    padding: 0 8px;
}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
 
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    font-size : 15px;
    font-weight: 600;
}
.place-time{
    color: #757575;
    margin-top: 15px;

}
.place-desc{
 line-height: 1.4;
    margin-top: 15px;
}
.but-tick{
    color: #fff;
    text-decoration: none;
    background-color: #000;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}
.but-tick:hover{
    color: #000;
    background-color: #ccc;
}
#footer
{

}
.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal-contains{
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    padding: 15px;
    animation: modalKey ease .5s;
    
}
.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.modal-close:hover{
    opacity: 1;
    background-color: #ccc;
    color: #000;
}
.hear-modal{
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;}

 .hear-icon{
    margin-right: 16px;


}
.modal-body{
    padding: 16px;
}
.moda-label{
    display: block;
    font-size: 15px;
    margin-bottom: 17px;

}
.modal-input{
    border : 1px solid #ccc;
    width : 100%;
    padding : 10px;
    font-size : 15px;
    margin-bottom: 24px;
}
#buy-tickers{
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}
#buy-tickers:hover{
    opacity: 0.9;
    color: #000;
    background: #ccc;
}
  .modal-footer{
    padding: 16px;
   text-align: right;
  }
  .modal-footer a{
    color: #2196f3;
  }
  .modal.open{
    display:flex;
  }
  @keyframes modalKey{
    from{
        opacity: 0;
        transform: translateY(-180px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
  }
  .contact-content{
    margin-top: 48px;
  }

  .contact-info {
    font-size: 18px;
    line-height: 1.5;
    

}
.contact-info i[class*="ti-"]{
    width: 30px ;
    display: inline-block;
}
.contact-form .form-control{
 padding: 10px;
 
 border: 1px solid #ccc;
 width: 100%;
 

}
.contact-form{
    font-size :15px;
}
.form-sumbit{
    background-color: #000;
    color:#fff;
    border: 1px solid #000;
    padding: 10px 16px;
     margin-right: 10px;
    float: right;
}

/* css map */
.map-seasion img{
    width: 100%;
}
#footer{
    padding: 64px 16px;
    text-align: center;
}
.social-list {
    font-size: 24px;


}

#footer .social-list a{
     color: rgba(0,0, 0, 0.6);
     text-decoration: none;
}
#footer .copyright a:hover,
#footer .social-list a:hover{
    opacity: 0.4;
}

#footer .copyright  {
margin-top: 15px;
color:rgba(0,0, 0, 0.6)
}

   
